*{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 24px;
}

.container{
    padding: 50px 0 50px 100px !important;
    align-content: center;
}

.firsts{
    margin: 25px;
    padding: 15px;
    border: 10px;
}
.card{
    height: 121px;
    width: 214px;
    border: 1px;
    border-radius: 4px;
    padding: 10px;
    align-items: center;
}

.ticket1{
   background-color: rgba(255, 0, 0, 0.5);
   align-items: center;
}
.ticket2{
    background-color: rgba(158, 100, 255, 0.5);
    align-items: center;
}
.ticket3{
    background-color: rgba(255, 92, 0, 0.5);
    align-items: center;
}
.ticket4{
    background-color: rgba(36, 255, 0, 0.5);
    align-items: center;
}

.card-title{
    font-size: 40px;
    line-height: 46.88px;
}

.card-subtitle{
    font-size: 16px;
    line-height: 18px;
}

.graphics{
    text-align: center;
    border: 1px solid rgba(63, 61, 86, 0.1);
    height: 247px;
    width: 612px;
}

.header-graphics{
    text-align: end !important;
    padding: 15px;
}

.header-graphics a{
    text-decoration: none;
}

.header-graphics a:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.603);
}


.header-font{
    margin: 10px;
    font-style: normal;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 14px;
    color: rgba(24, 24, 24, 1);
}

.col-md-2{
    padding: 5px 0 5px 5px;
}

.col-md-2 span{
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    font-style: normal;
}