*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
.flex-container{
    flex-flow: row wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.flex-item{
    background: red;
    flex-grow: 1;
    flex-basis: 400px;
    height: 400px;
    margin: 10px;
    color: #fff;
    align-content: flex-start;
}
.button{
    color: aliceblue;
}
.button:hover{
    background-color: blueviolet;
}